.fa-envelope, .fa-twitter, .fa-instagram, .fa-github, .fa-linkedin, .fa-facebook, .fa-google, .fa-pinterest, .fa-medium, .fa-codepen, .fa-rss {
  -webkit-transition: $transition-time;
  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  transition: $transition-time;
  &:hover{
    color: $accent-color;
  }
}